
<h2>Categoria Suporte </h2>
<div class="well">
    <p>
        @Html.ActionLink("Criar Categoria", "Edit", null, new { @class = "btn btn-primary btn-sm" })
    </p>
</div>

<table id="example" class="table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Projeto</th>
            <th width="140"></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            "ajax": {
                "url": "/CategoriaSuporte/Index",
                "type": "POST",
            },
            "columnDefs": [
               { "className": "dt-center", "targets": "_all" }
            ],

            "aoColumns": [
                { "data": "Descricao" },
                { "data": "ProjetoDescricao" },
                {
                    "mRender": function (data, type, row) {
                        var edit = '<a class="btn btn-warning btn-sm " href="' + '@Url.Action("Edit")/' + row.ID + '">' + 'Editar' + '</a>'
                        var deletar = '<a class="btn btn-danger btn-sm " href="' + '@Url.Action("Delete")/' + row.ID + '">' + 'Deletar' + '</a>'


                        return edit + "  " + deletar;
                    },
                }
            ],
            "oLanguage": {
                "sLengthMenu": "Mostrar _MENU_ registros por página",
                "sZeroRecords": "Nenhum registro encontrado",
                "sInfo": "Mostrando _START_ / _END_ de _TOTAL_ registro(s)",
                "sInfoEmpty": "Mostrando 0 / 0 de 0 registros",
                "sInfoFiltered": "(filtrado de _MAX_ registros)",
                "sSearch": "Pesquisar: ",
                "oPaginate": {
                    "sFirst": "Início",
                    "sPrevious": "Anterior",
                    "sNext": "Próximo",
                    "sLast": "Último"
                }
            }
        });

    });
</script>